*{
    color: azure;
    font-family: Comic Sans MS;
    font-size: 15px;
    text-align: center;
}
body{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
}
.kpr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}
.cim{
    width: 80%;
    margin: auto;
    background-color: transparent;
}
h1{
    font-size: 40px;
    color: deepskyblue;
}
.nav1{
    background-color: transparent;
    width: 20%;
    align-items: center;
    justify-content: space-between;
}
.art{
    border: 3px solid rgb(12, 71, 199);
    border-radius: 20px;
    background-color: rgb(29, 148, 216);
    width: 60%;
    padding-left: 300px;
    padding-right: 300px;
}
.kep1{
    border: 3px solid rgb(12, 71, 199);
    border-radius: 20px;
    background-color: rgb(29, 148, 216);
    width: 100%;
}
.fo{
    width: 80%;
    margin: auto;
    background-color: transparent;
}
h2{
    font-size: 30px;
    color: deepskyblue;
}
.nav2{
    background-color: transparent;
    width: 50%;
}
.nav2 ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav2 a{
    text-decoration: none;
}
.nav2 ul li{
    border: 8px solid black;
    border-radius: 20px;
}
.nav1 ul{
    list-style-type: none;
    padding: 0;
    margin: 10;
}
.nav1 a{
    text-decoration: none;
}
.nav1 ul li{
    border: 8px solid black;
    border-radius: 20px;
}
img{
    width: 350px;
}
.iz{
    display: flex;
    flex-direction: column;
}
a:hover{
    transition: 1s;
    font-size: 20px;
    color: blue;
}
.p:hover{
    transition: 1s;
    font-size: 20px;
    color: purple;
}
.n:hover{
    transition: 1s;
    font-size: 20px;
    color: dimgray;
}
.m:hover{
    transition: 1s;
    font-size: 20px;
    color: gold;
}
.ss {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sskep {
    vertical-align: middle;
    border: 1px solid black;
    border-radius: 20px;
    width: 1800px;
}
.slideshowcucc{
  position: relative;
  margin: 0;
}
.arrows{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.prev, .next {
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -22px;
  color: crimson    ;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
}
.prevd, .nextd{
    padding: 120%;
}
.next {
  right: 0;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.button {
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.button:hover {
    background-color: #3e8e41
}
.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
h3{
    font-size: 30px;
    color:darkred
}
.vege{
    font-size: 30px;
}
.kerdes{
    font-size: 25px;
}
.qkep{
    height: 300px;
}
.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
@media only screen and (max-width: 1850px){
    .sskep {
        width: 1600px;
    }
    .art{
        padding-left: 150px;
        padding-right: 150px;
    }
}
@media only screen and (max-width: 1650px){
    .sskep {
        width: 1400px;
    }
    .art{
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media only screen and (max-width: 1450px){
    .sskep {
        width: 1000px;
    }
    .art{
        padding-left: 80px;
        padding-right: 80px;
    }
}
@media only screen and (max-width: 1000px){
    .sskep {
        width: 800px;
    }
    .art{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media only screen and (max-width: 850px){
    .sskep {
        width: 600px;
    }
    .art{
        padding-left: 40px;
        padding-right: 40px;
    }
}
@media only screen and (max-width: 650px){
    .sskep {
        width: 400px;
    }
    .art{
        padding-left: 20px;
        padding-right: 20px;
    }
}